.inputPost {
    margin: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    height: 50px;
}

.imageInputBox{
    background-color: #eef0f2;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.imageUploadedInputBox {
    position: absolute;
    height: 30px;
    width: 100px;
    font-size: small;
    z-index: 1000;
    top: 20px;
    left: 20px;
    opacity: 0.7;
}
.removePictureButton {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid #bfbfbf;
    outline: none;
    padding: 0;
    margin: 0;
    color: gray;
    font-size: larger;
    /* opacity: 0.7; */
}
.removePictureButton:hover {
    background-color: #eef0f2;

}