.profile{
    position: relative;
    width: 100%;
    background-color: var(--content-bg-color, #f0f2f5);
    overflow-y: scroll;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 50px;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

/* .profile{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--content-bg-color, #f0f2f5);
    overflow-y: scroll;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
} */

.profileHeader {
    /* outline: 2px solid red; */
    width: 500px;
    margin-bottom: 30px;
    width: 100%;
    height: calc(100vh - 60px - 50px);
    background-color: #ffff;
}

.lowerProfileContent  {
    /* outline: 2px solid green; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.coverPicture {
    position: relative;
    height: 60%;
    border: 10px solid white;


}
.coverPicture img {
    height: 300px;
    width: 100px;

    width: 100%;
    height: 100%;
}
.coverPicture button {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.defaultCoverPicture {
    position: relative;
    top: 10px;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    margin: 10px;
    /* border: 10px solid white; */
    border-radius: 10px;
    /* border-radius: 1px; -moz-border-radius: 15px; -webkit-border-radius: 15px; */
}

.defaultCoverPicture img {
    height: 40%;
    width: 20%;
    border-radius: 50%;
    margin: 10px;
    opacity: 0.3;
}

.profileDetails {
    position: relative;
    /* outline: 1px solid blue; */
    padding: 10px;
    height: calc(40% - 10px);
}

.profileDetailsLeftContent {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.profileDetailsLeftContent img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* padding: 5px; */
    position: absolute;
    top: -80px;
    border: 5px solid white;
}

.description {
    position: absolute;
    top: 125px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-grow: 1; */
    font-size: 1.5rem;
}



.profileDetailsRightContent {
    /* outline: 1px solid green; */
    position: absolute;
    left: 220px;
    width: calc(100% - 230px);
    height: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
}

.userDetails {
    padding: 5px;
    width: 50%;
}
.userName {
    height: 30%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 3rem;
}

.userDetails button{
    border: none;
    background: none;
    font-size: 1rem;
    padding: 5px;
}