.timeline{
    position: relative;
    height: 100%;
    width: 100%;
    background-color: var(--content-bg-color, #f0f2f5);
    overflow-y: scroll;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}