:root {
    --content-bg-color:  #eef0f2;
    --nav-bar-bg-color: #ffffff;
    --side-bar-bg-color: #ffffff;
    --nav-bar-height: 60px;
    --side-bar-width: 300px;

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.layout {
    background-color: #eef0f2;
}
/* .lowerContent {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    outline: 2px solid rgb(54, 171, 8);
} */

.navBar {  
    height: var(--nav-bar-height);
    background-color: var(--nav-bar-bg-color);
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-shadow:0 5px 15px 2px rgba(0,0,0,0.06);
    z-index: 1000;

}
.navBarProfilePicture img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.navBarUserName {
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideBar {
    /* border: 1px solid gray; */
    background-color: var(--content-bg-color);
    width: 300px;
    position: fixed;
    top: var(--nav-bar-height);
    left: 0;
    bottom: 0;
    overflow-y:auto;

}
.sideBar ul{
    list-style: none;
}
.sideBar ul li{
    padding: 10px;
    border: var(--content-bg-color);
    border-radius: 5px;
}

.sideBar ul li a {
    text-decoration: none;
    color: black;
    font-size: large;
}
.sideBar ul li:hover {
   background-color: rgba(168, 168, 168, 0.3);
   /* opacity: 0.2; */
}

.content {
    /* outline: 2px solid rgb(65, 11, 225); */
    background-color: var(--content-bg-color,  #f0f2f5);
    width: calc(100% - var(--side-bar-width));
    position:relative;
    top: var(--nav-bar-height);
    left: var(--side-bar-width);
    height: calc(100vh - var(--nav-bar-height)); 
    /* min-height: 100vh; */
    /* display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px; */

    /* overflow-y: scroll; */
    /* position: fixed; */

}
.searchBox{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.navBar input{
    background-color: #eef0f2;
    border: #eef0f2;
    border-radius: 10px;
    outline: none;
    width: 500px;
    height: 30px;
    padding: 10px;
    font-size: medium;

}
.icon{
    width: var(--side-bar-width)
}
.user{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
}


